header{
  background-color: rgb(1, 1, 141);
  text-align: center;
  color: aliceblue;
  padding-top: 2%;
  border: 2px solid black;
}
/* #main_text{
  display: flex;
  flex-direction: row;
} */
#main_text{
  padding: 5%; 
}

.column{
  float: left;
  width: 50%;
}
.row{
  content: "";
  display: table;
  clear: both;
}

header h1{
  font-size: 350%;
}

#main_text p{
  padding-left: 1%
}

footer{
  background-color: rgb(1, 1, 141);
  padding: 15%;
  border: 2px solid black;

}

