
.stoplight{
  position: relative;
  display: block;
  height: 300px;
  width: 800px;
}

.pole{
  top: 0%;
  left: 56.5%;
  height: 50px;
  width: 50px;
  background-color: black;
}

.case{
  top:15%;
  left: 50%;
  height: 300px;
  width: 150px;
  background-color: black;
}

.light{
  top: 40%;
  left: 54.5%;
  height: 80px;
  width: 80px;
  background-color: #555;
  border-radius: 50%;
  transition: all .5s linear;
}

.red{
  top: 20%;
  background-color: darkred;
}

.red:hover{
  background: red;
  cursor: pointer;
  box-shadow: 0 0 25px red;
}

.yellow{
  top: 50%;
  background-color: yellow;
}

.yellow:hover{
  background: lightyellow;
  cursor: pointer;
  box-shadow: 0 0 25px lightyellow;
}

.green{
  top: 80%;
  background-color: green;
}

.green:hover{
  background: lightgreen;
  cursor: pointer;
  box-shadow: 0 0 25px lightgreen;
}

.stoplight *{
  position: absolute;
}