
.stoplight{
  position: relative;
  display: block;
  height: 300px;
  width: 800px;
}
.pole{
  top: 0%;
  left: 56.5%;
  height: 50px;
  width: 50px;
  background-color: black;
}

.case{
  top:15%;
  left: 50%;
  height: 300px;
  width: 150px;
  background-color: black;
}

.light{
  top: 40%;
  left: 54.5%;
  height: 80px;
  width: 80px;
  background-color: #555;
  border-radius: 50%;
}

.red{
  top: 20%;
  background-color: red;
}

.yellow{
  top: 50%;
  background-color: yellow;
}

.green{
  top: 80%;
  background-color: green;
}

.stoplight *{
  position: absolute;
}